[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
psaw = "*"
sqlalchemy = "*"

[dev-packages]
pylint = "*"
isort = "*"
autopep8 = "*"

[requires]
python_version = "3.8"
